html{
    line-height: 1.618;
}
.background{
    background-color: #ffcd08;
    width: 50%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.section{
    display: flex;
    min-height: 100vh;
    position: relative;
    z-index: 2;
}
.section > *{
    width: 50%;

}
.section_img{
    position: relative;
    display: flex;
}
.section_img_inner{
    height: 100vh;
    position: fixed;
    left: 5%;
    width: 40%;
    top: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.section_body{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;

}
.section_text {
    padding: 5vw;
}
.section_img_inner{
    filter: blur(30px);
    opacity: 0;
    background-position: 50% 40%;
    transition: opacity 0.6s ease, background-position 0.8s ease,
    filter 0.6s ease;
}
.section.active .section_img_inner{
    opacity: 1;
    background-position: 50% 50%;
    filter: blur(0);
}
h2{
    font-size: 3vw;
    margin-bottom: 0.5em;
    margin-top: 0;
}